.vs/
bin/
bin-int/
**/logs/

*.vcxproj
*.vcxproj.filters
*.user
*.sln
*csproj

PXProfile-Shutdown-Debug.json
PXProfile-Runtime-Debug.json
PXProfile-StartUp-Debug.json
PXProfile-Shutdown-Release.json
PXProfile-Runtime-Release.json
PXProfile-StartUp-Release.json
PXProfile-StartUp-Distribute.json
PXProfile-Runtime-Distribute.json
PXProfile-Shutdown-Distribute.json
