.vs/
bin/
bin-int/


*.vcxproj
*.vcxproj.filters
*.user
*.sln
RGFProfile-Shutdown-Debug.json
RGFProfile-Runtime-Debug.json
RGFProfile-StartUp-Debug.json
RGFProfile-Shutdown-Release.json
RGFProfile-Runtime-Release.json
RGFProfile-StartUp-Release.json
RGFProfile-StartUp-Distribute.json
RGFProfile-Runtime-Distribute.json
RGFProfile-Shutdown-Distribute.json
